In [1]:
import csv
import os
import pandas as pd
path = 'users/'

genre_set = set()

# 전체 장르 추출
for user in os.listdir(path):
    with open(path+user, 'r') as f:
        cr = csv.reader(f)
        for line in cr:
            for l in line:
                genre_set.add(l)
            break
genre = list(genre_set)
print(genre)

['전기', '애니메이션', '시대극', '스릴러', '스포츠', '재난', '모험', '공포', '음악', '틴에이저', '역사', '범죄', 'SF', '전쟁', '단편', '로맨스', '드라마', '로맨틱 코미디', '가족', '액션', '뮤지컬', '코미디', '판타지', '미스터리', '다큐멘터리']

In [2]:
# 수집한 csv 파일들을 하나로 모으는 작업
df_all = pd.DataFrame()
for user in os.listdir(path):
    user_name = user.split('.')[0]
    df = pd.read_csv(path+user, encoding='utf-8')
    df['name'] = user_name
    df_all = pd.concat([df_all, df])

In [3]:
df_all = df_all.set_index('name')

# 대부분이 NaN 값인 column drop
df_all = df_all.drop(columns=['가족','전기','공포','음악','틴에이저','시대극','역사','다큐멘터리','단편','전쟁','재난','스포츠','뮤지컬','로맨틱 코미디'])

df_all.to_csv('result.csv', na_rep='NaN')
print(df_all)

                 드라마    액션   코미디   스릴러    범죄    모험   로맨스  애니메이션  미스터리    SF  \
name
김양우               93  92.0  90.0  86.0  85.0  84.0  83.0   80.0  75.0  75.0
연서                94  89.0  90.0   NaN  82.0  82.0  89.0   80.0   NaN  70.0
연기는 히스레저처럼        94  92.0  90.0  79.0  84.0  83.0  85.0   88.0   NaN   NaN
julie             94  89.0  92.0  83.0  78.0  85.0  86.0   79.0   NaN   NaN
김피디               90  94.0  91.0  81.0  77.0  88.0   NaN   79.0   NaN  77.0
...              ...   ...   ...   ...   ...   ...   ...    ...   ...   ...
이상준               94  92.0  87.0  82.0  81.0  87.0  81.0   84.0   NaN  78.0
이경민               91  93.0  88.0  81.0  80.0  89.0   NaN   86.0   NaN  81.0
레터박스 Letterboxd   95  86.0  88.0  80.0  86.0  84.0  81.0   79.0   NaN   NaN
또로로               95  89.0  90.0  84.0  86.0  79.0  78.0    NaN   NaN   NaN
HsRoh             92  93.0  91.0  81.0  80.0  87.0  84.0   81.0   NaN  81.0

                 ...  음악  틴에이저  시대극  역사  다큐멘터리  단편  전쟁  재난  스포츠  뮤지컬
name             ...
김양우              ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
연서               ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
연기는 히스레저처럼       ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
julie            ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
김피디              ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
...              ...  ..   ...  ...  ..    ...  ..  ..  ..  ...  ...
이상준              ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
이경민              ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
레터박스 Letterboxd  ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN
또로로              ... NaN   NaN  NaN NaN   75.0 NaN NaN NaN  NaN  NaN
HsRoh            ... NaN   NaN  NaN NaN    NaN NaN NaN NaN  NaN  NaN

[2804 rows x 25 columns]